alpaca-py
annotated-types
anyio
appdirs
Backtesting
bcrypt
beautifulsoup4
bokeh
certifi
charset-normalizer
click
colorama
contourpy
cycler
DateTime
dnspython
ecdsa
email-validator
fastapi
fonttools
frozendict
greenlet
h11
html5lib
idna
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
motor
msgpack
multitasking
numpy
packaging
pandas
pandas-ta
passlib
peewee
Pillow
pyasn1
pydantic==1.9.2

pymongo
pyparsing
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
requests
rsa
schedule
six
sniffio
soupsieve
SQLAlchemy
sseclient-py
starlette==0.27.0
tornado
typing_extensions
tzdata
urllib3
uvicorn
webencodings
websockets==10.3
xyzservices
yfinance
zope.interface
